<!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление товаров</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin.css}" href="../../static/css/admin.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}" href="../../static/css/index.css">
</head>
<body>
<div class="topDesk">
    <a th:href="@{/}">
        <h1 class="logo">ROBO</h1>
    </a>
    <a th:href="@{/admin}"><h3>Кабинет администратора</h3></a>
    <form method="post" th:action="@{/logout}" >
        <button type="submit" class="logout">Выйти из личного кабинета</button>
    </form>
</div>

    <div>
        <h3 class="tittle">Добавление товаров</h3>
        <form th:method="POST" th:action="@{/admin/product/add}" th:object="${product}" enctype="multipart/form-data"  class="productDesk">
            <label for="title">Введите наименование товара: </label>
            <input type="text" th:field="*{title}" placeholder="Наименование" id="title">
            <div style="color: red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>

            <label for="description">Введите описание товара: </label>
            <textarea th:field="*{description}" placeholder="Описание" id="description"></textarea>
                <div style="color: red" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>

            <label for="price">Введите цену товара: </label>
            <input type="number" th:field="*{price}" min="1" step="0.00" id="price">
                <div style="color: red" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>

            <label for="vendorcode">Введите артикул: </label>
            <input type="text" th:field="*{vendorcode}" placeholder="Артикул" id="vendorcode">
                <div style="color: red" th:if="${#fields.hasErrors('vendorcode')}" th:errors="*{vendorcode}"></div>


            <label for="producingcountry">Введите данные о стране изготовителе: </label>
            <input type="text" th:field="*{producingcountry}" placeholder="Страна-производитель" id="producingcountry">

                <div style="color: red" th:if="${#fields.hasErrors('producingcountry')}" th:errors="*{producingcountry}"></div>


            <label for="category">Введите категорию товара: </label>
            <select name="category" th:field="*{category}" id="category">
                <div th:each="element : ${category}">
                    <option th:text="${element.getName()}" th:value="${element.getId()}"></option>
                </div>
            </select>

            <p style="color: red">Вы можете добавить до 5 фотографий. Первая фотография не может быть пустой т.к она будет являться главной</p>
            <div class="addFiles">
                <input type="file" name="file_one" >
                <input type="file" name="file_two" >
                <input type="file" name="file_three" >
                <input type="file" name="file_four" >
                <input type="file" name="file_five" >
            </div> 
            <input type="submit" value="Добавить товар" class="adminBtn">
        </form>
    </div>    

</body>
</html>