<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Информация о товаре</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/info.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/slider.css}">
    <script src="https://itchief.ru/examples/libs/ui-components/itc-slider/itc-slider.js" defer></script>
</head>


<body>
<div class="main">
<header>
    <a th:href="@{/index}">
        <h1 class="logo">ROBO</h1>
    </a>
    <nav>
        <a th:href="@{../orders}">
            <button class="navItem">
                Мои заказы
            </button>
        </a>
        <a th:href="@{/cart}">
            <button class="navItem">Корзина</button>
        </a>
        <form method="post" th:action="@{/logout}">
            <button class="navItem">Выйти</button>
        </form>

    </nav>
</header>
<div class="productContainer">
    <div class="container">
        <div class="itc-slider" data-slider="itc-slider" data-loop="false" data-autoplay="false">
            <div class="itc-slider__wrapper">
                <div class="itc-slider__items">
                    <div class="itc-slider__item">
                        <img th:src="'/img/' + ${product.imageList[0].getFileName()}" >
                    </div>
                    <div class="itc-slider__item">
                        <img th:src="'/img/' + ${product.imageList[1].getFileName()}" >
                    </div>
                    <div class="itc-slider__item">
                        <img th:src="'/img/' + ${product.imageList[2].getFileName()}" >
                    </div>
                    <div class="itc-slider__item">
                        <img th:src="'/img/' + ${product.imageList[3].getFileName()}" >
                    </div>
                </div>
            </div>
            <button class="itc-slider__btn itc-slider__btn_prev"></button>
            <button class="itc-slider__btn itc-slider__btn_next"></button>
        </div>
    </div>
    <div class="infoProduct">
        <h1 class="productTittle" th:text="${product.getTitle()}"></h1>

        <div class="priceAndCart">
            <div>
                <p class="infoText">Артикул: <span  th:text="${product.getVendorcode()}"></span></p>
                <p class="infoText">Цена: <span th:text="${product.getPrice()} + ' ₽'"></span></p>

            </div>
        <a th:href="@{/cart/add/{id}(id=${product.getId()})}">
        <button class="offCart" >
            <span class="cartBtnText">В корзину</span>
            <img class="imgCart" src="/img/cart-1.png" alt='product img' />
        </button>
        </a>
        </div>

        <p class="infoText">Описание: <span th:text="${product.getDescription()}"></span></p>

        <p class="infoText">Страна-изготовитель: <span th:text="${product.getProducingcountry()}"></span></p>

        <p class="infoText">Возрастная категория: <span th:text="${product.getCategory().getName()}"></span></p>

    </div>
</div>
<footer>
    <div><h1 class="logo">ROBO</h1></div>
    <div class="adress">
        <h2>Офис в Москве</h2>
        <p> Набережная ул., д. 15 офис 18</p>
        <h3>Телефон:  <span>+7 (945) 945-55-70</span></h3>
        <h3>График работы:  <span>Понедельник-Пятница 9:00 - 18:00</span></h3>
    </div>
    <div class="adress">
        <h2>Офис в Новосибирске</h2>
        <p> Лесная ул., д. 17</p>
        <h3>Телефон:  <span>+7 (383) 730-19-83</span></h3>
        <h3>График работы:  <span>Понедельник-Пятница 9:00 - 18:00</span></h3>
    </div>
    <div class="adress">
        <h2>Офис в Владивостоке</h2>
        <p>  Заводская ул., д. 12 офис 5</p>
        <h3>Телефон:  <span>+7 (923) 885-24-93</span></h3>
        <h3>График работы:  <span>Понедельник-Пятница 9:00 - 18:00</span></h3>
    </div>
</footer>
</div>


</body>

</html>
