<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет администратора</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin.css}" href="../../static/css/admin.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}" href="../../static/css/index.css">
</head>
<body>

<div class="adminDesk">

   <div class="topDesk">
                <a>
                    <h1 class="logo">ROBO</h1>
                </a>
                <h3>Кабинет администратора</h3>
                <form method="post" th:action="@{/logout}" >
                    <button type="submit" class="logout">Выйти из личного кабинета</button>
                </form>
            </div>


   <div class="adminProductPanel">

       <form th:method="POST" th:action="@{/product/searchByName}" >
            <fieldset>
                <div class="searchByName">
                    <label for="search">Наименование товара: </label>
                    <input name="search" id="search" th:value="*{value_search}">
                </div>
                <input type="submit" value="Применить" class="submitBtn">
            </fieldset>
            </form>
       <div class="btnContainer">
           <a href="admin/product/add" ><button class="adminBtn" >Добавить товар</button></a>
           <a href="admin/order" ><button class="adminBtn" >Просмотр заказов</button></a>
       </div>

   </div>
   <div th:each="product : ${search_product}" class="resultSearchBlock" >
            <div class="tittleText">
            <p th:text="'Наименование: ' + ${product.getTitle()}"></p>
            </div>
            <div class="tittleText">
            <p th:text="'Артикул: ' + ${product.getVendorcode()}"></p>
            </div>
            <a th:href="@{/admin/product/edit/{id}(id=${product.getId()})}">
                <button class="adminBtn">Редактировать товар</button>
            </a>

            <a th:href="@{/admin/product/delete/{id}(id=${product.getId()})}">
                <button class="adminBtn">Удалить товар</button>
            </a>
        </div>
    <div class="allPerson">
        <h3 class="tittle"> Все пользователи: </h3>
            <div th:each="person : ${person}" class="resultSearchBlock" >
                <p th:text="${person.getLogin()}" class=""></p>
                <p th:text="${person.getRole()}"></p>

                <a th:href="@{/admin/editUser/{id}(id=${person.getId()})}">
                    <button class="adminBtn">Редактировать</button>
                </a>
                <a th:href="@{/admin/deleteUser/{id}(id=${person.getId()})}">
                    <button class="adminBtn">Удалить пользователя</button>
                </a>
            </div>
    </div>







</div>
</body>
</html>