<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Личный кабинет администратора</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/admin.css}" href="../../static/css/admin.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}" href="../../static/css/index.css">
</head>
<body>
<div class="adminDesk">

    <div class="topDesk">
        <a th:href="">
            <h1 class="logo">ROBO</h1>
        </a>
        <h3>Кабинет администратора</h3>
        <form method="post" th:action="@{/logout}" >
            <button type="submit" class="logout">Выйти из личного кабинета</button>
        </form>
    </div>


<div class="adminPanel">
<button class="adminBtn"><a href="admin/product/add">Добавить товар</a></button>
<button class="adminBtn"><a href="../product">Просмотр товаров</a></button>
    <form th:method="POST" th:action="@{/product/searchByName}" >
    <fieldset>
        <div class="searchByName">
            <label for="search">Наименование товара: </label>
            <input name="search" id="search" th:value="*{value_search}">
        </div>
        <input type="submit" value="Применить" class="searchBtn">
    </fieldset>
    </form>

</div>

<div th:each="product : ${search_product}" class="resultSearchBlock" >
    <div class="tittleText">
    <p th:text="'Наименование: ' + ${product.getTitle()}"></p>
    </div>
    <div class="tittleText">
    <p th:text="'Артикул: ' + ${product.getVendorcode()}"></p>
    </div>
    <a th:href="@{/admin/product/edit/{id}(id=${product.getId()})}">
        <button class="adminBtn">Редактировать товар</button>
    </a>

    <a th:href="@{/admin/product/delete/{id}(id=${product.getId()})}">
        <button class="adminBtn">Удалить товар</button>
    </a>

</div>



</div>
</body>
</html>