<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Заказы: </title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/orders.css}">
</head>
<body>
<div class="main">
<header>
        <a th:href="@{/index}">
            <h1 class="logo">ROBO</h1>
        </a>
        <nav>
            <br>
            <a th:href="@{/cart}">
                <button class="navItem">
                    Корзина
                </button>
            </a>
            <form method="post" th:action="@{/logout}">
                <button class="navItem">
                    Выйти
                </button>
            </form>

        </nav>
    </header>

<div class="orderContainer">
<h1>Заказы: </h1>

<div th:each="order : ${orders}" class="orderList">
    <img th:src="'/img/' + ${order.getProduct().imageList[0].getFileName()}" class="orderItemImg">
    <div>
        <h3 class="OrderTittle" th:text="'Заказ № ' + ${order.getNumber()}"></h3>
        <p class="orderText" th:text="'Наименование: ' + ${order.getProduct().getTitle()}"></p>
        <p class="orderText" th:text="'Количество: ' + ${order.getCount()}"></p>
        <p class="orderText" th:text="'Цена: ' + ${order.getPrice()}"></p>
        <p class="orderText" th:text="'Дата заказа: ' + ${#temporals.format(order.getDateTime(), 'dd-MMM-yyyy')}"></p>
        <p class="StatusText" th:text="'Статус: ' + ${order.getStatus()}"></p>
        </div>
</div>

</div>
<footer>
        <div><h1 class="logo">ROBO</h1></div>
        <div class="adress">
            <h2>Офис в Москве</h2>
            <p> Набережная ул., д. 15 офис 18</p>
            <h3>Телефон:  <span>+7 (945) 945-55-70</span></h3>
            <h3>График работы:  <span>Понедельник-Пятница 9:00 - 18:00</span></h3>
        </div>
        <div class="adress">
            <h2>Офис в Новосибирске</h2>
            <p> Лесная ул., д. 17</p>
            <h3>Телефон:  <span>+7 (383) 730-19-83</span></h3>
            <h3>График работы:  <span>Понедельник-Пятница 9:00 - 18:00</span></h3>
        </div>
        <div class="adress">
            <h2>Офис в Владивостоке</h2>
            <p>  Заводская ул., д. 12 офис 5</p>
            <h3>Телефон:  <span>+7 (923) 885-24-93</span></h3>
            <h3>График работы:  <span>Понедельник-Пятница 9:00 - 18:00</span></h3>
        </div>
    </footer>
</div>
</body>
</html>