@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

:root{
    --fontcolor: #222222;
    --color_1: #e4eaf7;
    --backcolor_2: rgb(73, 78, 85);
    --color_3: #7E8C91;
    --color_4: #7e7d81;
}

*{
    font-family: 'Open Sans', 'sans-serif', 'FontAwesome';
    margin: 0px;
}

body{
    background-color: var(--color_1);;
}

a{
    text-decoration: none;
}

.main{
    display: flex;
    flex-direction: column;
}

/*--------------------Header--------------------*/

header{
    display: grid;
    grid-template-columns: 0.5fr 1fr ;
    background-color: var(--backcolor_2);
    padding: 10px 30px;
}

nav{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: end;
    align-items: center;
}

.logo{
    color: var(--color_1);
    padding: 0px;
    margin: 0px;
    cursor: pointer;
}

.navItem{
    border: none;
    border-radius: 6px;
    box-shadow: 2px 2px var(--backcolor_2);
    color: var(--backcolor_2);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    padding: 5px 10px;
    width: 200px;
}

.navItem:hover{
    box-shadow: inset -2px -2px 2px var(--color_1);
    background-color: var(--color_4);
    color: var(--color_1);
}



@media screen and (max-width: 1000px) {

    /*Header*/

    header{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
    }

    nav{
        justify-items: center;
    }
}

@media screen and (max-width: 750px) {

    /*Header*/

    header{
        grid-template-columns: 1fr;
        grid-template-rows: 40px 1fr;
    }

    nav{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        justify-items: center;
    }
}


/* -----------------Banner---------------- */

.bannerSection{
        height: 350px;
        margin: 50px;
    }

.banner{
    display: grid;
    height: 350px;
    grid-template-rows: 1fr 0.5fr;
    justify-content: start;
    background-image: linear-gradient(to top, rgba(125, 126, 179, 0.048), rgba(18, 128, 192, 0.103)), url("../images/robobanner.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position: start;
    border-radius: 30px;
    padding-top: 30px;
}

.textBanner{
    color: var(--fontcolor);
    font-size: 40px;
    font-weight: bold;
    margin: 20px 50px;
}

.textBanner span{
    color: var(--backcolor_2);

}

.bannerBtn{
    background-color: var(--backcolor_2);
    color: var(--color_1);
    margin: 25px 50px;
    padding: 20px 25px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

.bannerBtn:hover{
    box-shadow: 5px 5px 5px var(--fontcolor);
    background-color: var(--color_4);
}

.bannerBtn:active{
    background-color: var(--color_1);
    color: var(--backcolor_2);
}

.textSection{
    height: 350px;
    margin: 0 auto;
    background-image: linear-gradient(to top, rgba(125, 126, 179, 0.048), rgba(18, 128, 192, 0.103));
    border-radius: 30px;

}

.textSection h2{
    font-size: 35px;
    color: var(--backcolor_2);
    margin-left: 50px;
}

.textSection p{
    margin: 0 50px;
    text-align: justify;
    font-size: 16px;

}

@media screen and (max-width: 1000px) {
    .banner{
        background-image: linear-gradient(to top, rgba(222, 222, 223, 0.849), rgba(226, 240, 248, 0.938));
    }

}


/*-----------FOOTER----------*/

footer{
    display: grid;
    grid-template-columns: 70px 2fr;
    background-color: var(--backcolor_2);
    padding: 30px;
    justify-items: center;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
}

footer p{
    color: var(--color_1);
    font-size: 14px;
}

@media screen and (max-width: 1000px) {
    footer{
        grid-template-columns: 1fr;
        grid-template-rows: 45px 1fr;
    }
}

/*--------------CONTACTS-----------*/

.contactsSection h2, h3, p {
    color: var(--fontcolor);
    line-height: 120%;
    margin: 10px 30px;
}

.contactsSection{
    margin: 0 auto;
}

.contactsSection h2{
    font-size: 20px;
}

.contactsSection h3{
    font-size: 16px;
}

.contactsSection p{
    font-size: 14px;
}

.contactsSection h1{
    color: var(--backcolor_2);
    font-size: 25px;
    padding: 8px 45px;
}

.issuePoints{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
}

.adress{
    border-bottom: 2px solid var(--color_4);
    margin: 20px;
    background-color: var(--color_1);
    border-radius: 20px;
    gap: 30px;
    max-width: 450px;
}


