.productContainer{
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 50px 50px 50px 30px;
    gap: 40px;
    flex: 1;
}

.infoProduct h1{
    margin-bottom: 40px;
    color: var(--blue);
}
.tittle{
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-right: 15px;
}

.tittle span{
    font-weight: 400;
}