/*---------SEARCH BLOCK----------------*/
fieldset{
  display: grid;
  grid-template-columns: 1fr 150px;
  padding: 10px;
  background-color: var(--backcolor_2);
  color: var(--color_1);
}
.searchBlock{
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.filterBlock{
  margin: 5px;
}

label{
  margin-right: 5px;
}

.searchBtn{
  align-self: end;
  color: var(--backcolor_2);
  border-radius: 10px;
  padding: 0;
  height: 45px;
  border: 2px solid var(--color_3);
  background-color: var(--color_1);
}

.searchBtn:hover{
  cursor: pointer;
  color: var(--color_1);
  background-color: var(--blue);
  box-shadow: 5px 5px 5px var(--color_3);
}

.fieldBlock{
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  align-items: center;
}

.sortBlock{
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  align-items: center;
}

.sortFields{
}

.categoryBlock{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

/*------------------PRODUCTS--------------*/

.productBlock{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  line-height: 150%;
  justify-content: center;
}

.searchedProduct, .allProduct{
  padding: 30px;
}

.nameBlock{
  margin: 15px 30px;
  color: var(--blue);
}