<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Аутентификация</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
</head>
<body>
<div class="main">
    <div class="choice">
    <button class="bar" id="active">Авторизация</button>
    <button class="bar" id="unactive">
        <a href="/authentication/registration">Регистрация</a>
    </button>
    </div>

    <div id="wrapper">
        <form method="post" action="/process_login" id="signin">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            <input type="text" placeholder="Введите ваш логин" name="username" id="username">
            <input type="password" placeholder="Введите ваш пароль" name="password" id="password">
            <button type="submit" >&#xf0da;</button>

            <div th:if="${param.error}" style="color: red">
                Неправильный логин или пароль
            </div>
        </form>
    </div>
</div>

</body>
</html>